---
Done: false
Learning Links: 📖 https://laravel.com/docs/verification  🎬 https://www.youtube.com/watch?v=c01k5Zo_CuI
---
